<div ng-controller="userDetailCtrl">

    <div>
        <form ng-submit="find(input.username)" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-1">Query Name</label>

                <div class="col-sm-2">
                    <input type="text" class="form-control" ng-model="input.username" placeholder="Username" autofocus/>
                </div>
                <div class="col-sm-1">
                    <input type="submit" id="playerName" class="btn btn-primary form-control" value="Find"/>
                </div>
            </div>
        </form>
    </div>

    <div class="basic-info panel panel-info">
        <div class="panel-heading">Basic User Info</div>
        <div class="panel-body">
            <div ng-hide="user">Please enter player name. <span class="spinner" ng-show="loading"><i
                    class="fa fa-spinner fa-pulse"></i></span></div>

            <div ng-hide="!user">
                <br> Player Name: {{user.name}}
                <br> Player ID: {{user.id}}
                <br> Summoner Level: {{user.summonerLevel}}
                <br> Last Modified Date: {{user.revisionDate}}
            </div>
        </div>
    </div>

    <div class="match-history panel panel-info">
        <div class="panel-heading">Last 10 Matches <span class="spinner" ng-show="loading"><i
                class="fa fa-spinner fa-pulse"></i></span></div>
        <div class="panel-body" ng-show="user">
            <div ng-repeat="match in matches"
                 ng-class="match.participants[0].stats.winner ? 'alert alert-success' : 'alert alert-danger'">
                <br>Champion: {{match.participants[0].championId}}
                <br>Mode: {{match.matchMode}}
                <br>Start Time: {{match.matchCreation | date:'yyyy-MM-dd HH:mm:ss Z'}}
                <br>Queue Type : {{match.queueType}}
                <br>Result: {{match.participants[0].stats.winner ? 'Won' : 'Lost'}}
                <br>Duration: {{match.matchDuration/60 | number:0}}:{{(match.matchDuration%60<10?'0':'')+match.matchDuration%60}}
                <br>Match Id: {{match.matchId}}
            </div>

        </div>
    </div>
</div>